project_name = "ecommerce-datalake"
environment  = "dev"
aws_region   = "us-east-2"
alert_email  = "your-email@example.com"

tags = {
  Owner       = "DataEngineering"
  CostCenter  = "Analytics"
  Compliance  = "None"
}
